/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: HouschkaProMedium; src: url("../fonts/houschkapro-medium.eot"); src: url("../fonts/houschkapro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-medium.woff") format("woff"), url("../fonts/houschkapro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: HouschkaProBold; src: url("../fonts/houschkapro-bold.eot"); src: url("../fonts/houschkapro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-bold.woff") format("woff"), url("../fonts/houschkapro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: HouschkaProDemiBold; src: url("../fonts/houschkapro-demibold.eot"); src: url("../fonts/houschkapro-demibold.eot?#iefix") format("embedded-opentype"), url("../fonts/houschkapro-demibold.woff") format("woff"), url("../fonts/houschkapro-demibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-size: 12px; font-family: "HouschkaProMedium", arial, sans-serif; line-height: 1.4; }

.container { width: 1024px; margin: 0 auto; }

.header { padding: 37px 0 0; margin-bottom: 50px; }

.logo { display: block; margin: 0 auto 25px; background: url('../img/icons-s7b13fbad85.png') 0 -42px no-repeat; width: 103px; height: 73px; }
.logo a { display: block; height: 100%; }

.nav { position: relative; }
.nav ul { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.nav ul:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.nav:before { content: ""; position: absolute; top: 0; bottom: 0; left: 40px; right: 40px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ececec; z-index: 0; }

.nav__link { position: relative; height: 42px; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; line-height: 42px; z-index: 2; }
.nav__link a { font-size: 14px; text-transform: uppercase; color: #242424; text-decoration: none; }

.h2 { font-size: 33px; color: #242424; font-weight: normal; text-transform: uppercase; }

.slider { position: relative; height: 550px; margin-bottom: 40px; }

.example-pager { position: absolute; bottom: 0px; left: 0; right: 0; text-align: center; }
.example-pager span { display: inline-block; width: 15px; height: 15px; margin: 0 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #d8d8d8; font: 0/0 a; text-shadow: none; color: transparent; cursor: pointer; }

span.cycle-pager-active { background: #ff2241; }

.slider__item { width: 100%; text-align: center; }

.slide1__content { position: relative; width: 880px; height: 550px; margin: 0 auto; color: #242424; background: url(../img/slide1.jpg) no-repeat; }

.slide1__text1, .slide1__text2 { position: absolute; top: 110px; left: 0; width: 135px; font-size: 15px; text-align: right; line-height: 1; }
.slide1__text1:before, .slide1__text2:before { content: ""; position: absolute; right: -16px; top: 50%; margin-top: -8px; background: url('../img/icons-s7b13fbad85.png') 0 -480px no-repeat; width: 8px; height: 17px; }
.slide1__text1 a, .slide1__text2 a { text-decoration: none; color: #242424; font-size: 15px; }

.slide1__text2 { top: 345px; }
.slide1__text2 i { position: absolute; top: 100%; right: 0; font-size: 10px; padding-top: 2px; font-style: normal; }

.slide1__text3, .slide1__text4 { position: absolute; right: 0px; top: 80px; width: 135px; font-size: 15px; text-align: left; line-height: 1; }
.slide1__text3:before, .slide1__text4:before { content: ""; position: absolute; left: -16px; top: 50%; margin-top: -8px; background: url('../img/icons-s7b13fbad85.png') 0 -453px no-repeat; width: 8px; height: 17px; }

.slide1__text4 { top: 325px; }

.slide1__text5, .slide1__text6 { position: absolute; top: 80px; left: 50%; width: 214px; margin-left: -107px; line-height: 1; font-size: 15px; }

.slide1__text6 { top: 350px; font-size: 30px; }
.slide1__text6 span { font-family: "HouschkaProBold", arial, sans-serif; color: #ef4040; font-size: 40px; }

.announce { background: url(../img/pattern1.jpg); }

.announce__inner { position: relative; padding: 75px 0 95px; text-align: center; }
.announce__inner:before { content: ""; position: absolute; bottom: -32px; left: 0; background: url('../img/icons-s7b13fbad85.png') 0 0 no-repeat; width: 58px; height: 32px; }

.announce__content { display: inline-block; width: 450px; min-height: 140px; }

.announce__date { position: relative; margin-bottom: 20px; text-align: left; padding-left: 110px; background: url(../img/date.png) no-repeat; }

.announce__title { font-size: 32px; color: white; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; }

.announce__text { font: 19px "Times New Roman", serif; color: white; line-height: 1; text-transform: uppercase; }

.announce__counter { height: 43px; line-height: 43px; text-align: center; font-family: "HouschkaProBold", arial, sans-serif; text-transform: uppercase; font-size: 23px; color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ff2241; }

.request { padding: 70px 0; background: whitesmoke; }

.request__inner { padding: 0 80px; }
.request__inner .h3 { margin-bottom: 20px; }

.h3 { font-size: 23px; font-style: normal; }

.request-form { *zoom: 1; margin-bottom: 25px; }
.request-form:after { content: " "; display: table; clear: both; }

.request-form__left { float: left; }

.request__right { float: right; }

.input { display: block; width: 310px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 15px; padding: 0 13px; font-family: "HouschkaProDemiBold", arial, sans-serif; font-size: 17px; color: white; background: #522838; border: none; height: 43px; -webkit-transition: box-shadow 200ms linear; -moz-transition: box-shadow 200ms linear; -o-transition: box-shadow 200ms linear; transition: box-shadow 200ms linear; }
.input:-moz-placeholder, .input::-moz-placeholder { color: white; opacity: 1; }
.input::-webkit-input-placeholder { color: white; }
.input:focus { -webkit-box-shadow: 0 0px 8px #661a1a; -moz-box-shadow: 0 0px 8px #661a1a; box-shadow: 0 0px 8px #661a1a; }

.textarea { display: block; width: 479px; max-width: 479px; height: 194px; max-height: 194px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; padding: 13px; border: none; font-family: "HouschkaProDemiBold", arial, sans-serif; font-size: 17px; color: white; background: #522838; -webkit-transition: box-shadow 200ms linear; -moz-transition: box-shadow 200ms linear; -o-transition: box-shadow 200ms linear; transition: box-shadow 200ms linear; }
.textarea:-moz-placeholder, .textarea::-moz-placeholder { color: white; opacity: 1; }
.textarea::-webkit-input-placeholder { color: white; }
.textarea:focus { -webkit-box-shadow: 0 0px 8px #661a1a; -moz-box-shadow: 0 0px 8px #661a1a; box-shadow: 0 0px 8px #661a1a; }

.request__btn { clear: both; text-align: right; }

.btn { display: inline-block; height: 36px; line-height: 36px; padding: 0 26px; font-size: 19px; color: white; font-family: "HouschkaProDemiBold", arial, sans-serif; -webkit-border-radius: 18px; -moz-border-radius: 18px; -ms-border-radius: 18px; -o-border-radius: 18px; border-radius: 18px; background: #532939; }

.partners-info { text-align: center; }

.partners-info__title { position: relative; display: inline-block; text-align: center; margin-bottom: 40px; height: 44px; line-height: 44px; padding: 0 22px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #ff2241; font-family: "HouschkaProBold", arial, sans-serif; font-size: 23px; color: white; }
.partners-info__title:before { content: ""; position: absolute; bottom: -10px; left: 50%; margin-left: -11px; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: #ff2241 transparent transparent transparent; }

.h4 { font-size: 20px; font-family: "HouschkaProBold", arial, sans-serif; }

.partners-info__list { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.partners-info__list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.partners-info__list li { width: 30%; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.partners-info__list li .h4 { margin-bottom: 15px; }
.partners-info__list li p { margin-bottom: 20px; text-align: left; font-size: 15px; }
.partners-info__list li p i { font-family: "HouschkaProDemiBold", arial, sans-serif; font-style: normal; }

.brand { padding: 105px 0 84px; }

.brand__title { margin-bottom: 38px; text-transform: uppercase; text-align: center; font-size: 26px; color: #542939; font-family: "HouschkaProBold", arial, sans-serif; }
.brand__title span { color: #ff2241; }

.tab { padding: 0 50px; font-size: 0; margin-bottom: 45px; }
.tab li { font-size: 13px; display: inline-block; vertical-align: top; margin-left: 10px; }
.tab li:first-child { margin-left: 0; }
.tab li a { display: block; height: 30px; line-height: 30px; padding: 0 12px; color: #242424; text-transform: uppercase; font-family: "HouschkaProMedium", arial, sans-serif; text-decoration: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #efefef; }
.tab li a.is-active { font-family: "HouschkaProDemiBold", arial, sans-serif; color: white; background: #ff2241; }

.tab-cont { padding: 0 50px; }

.brands-list { text-align: center; }
.brands-list li { display: inline-block; margin: 0 20px; }

.brand__btn-wrap { text-align: center; padding-top: 38px; }

.add-btn { position: relative; display: inline-block; height: 43px; line-height: 43px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; padding: 0 28px 0 52px; background: #ff2241; text-decoration: none; font-family: "HouschkaProBold", arial, sans-serif; color: white; font-size: 20px; text-transform: uppercase; }

.smi { position: relative; background: whitesmoke; }
.smi .cycle-slideshow { width: 855px; margin: 0 auto; }

.hint { position: absolute; top: -20px; right: 38px; height: 44px; line-height: 44px; padding: 0 18px; font-family: "HouschkaProBold", arial, sans-serif; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; font-size: 23px; color: white; background: #ff2241; }
.hint:before { content: ""; position: absolute; top: 100%; right: 15px; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: #ff2241 transparent transparent transparent; }

.smi__item { padding: 70px 0px; width: 855px; }
.smi__item li { display: inline-block; width: 260px; margin-left: 30px; vertical-align: top; white-space: nowrap; }
.smi__item li:first-child { margin-left: 0; }
.smi__item li p { font-size: 15px; font-family: "HouschkaProMedium", arial, sans-serif; line-height: 1.2; color: #242424; white-space: normal; }

.link-title { display: block; margin-bottom: 20px; font-size: 20px; font-family: "HouschkaProBold", arial, sans-serif; color: #242424; }
.link-title:hover { text-decoration: none; }

.cycle-prev { position: absolute; top: 50%; left: 20px; margin-top: -15px; background: url('../img/icons-s7b13fbad85.png') 0 -309px no-repeat; width: 17px; height: 29px; cursor: pointer; z-index: 9999; }

.cycle-next { position: absolute; top: 50%; right: 20px; margin-top: -15px; background: url('../img/icons-s7b13fbad85.png') 0 -348px no-repeat; width: 17px; height: 29px; cursor: pointer; z-index: 9999; }

.team { position: relative; width: 935px; margin: 100px auto 115px; }
.team .hint { top: 0; }

.team__text { width: 70%; font-size: 15px; line-height: 1.2; }

.team-list { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-top: 50px; }
.team-list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.team-member { width: 18%; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }

.team-member__img { width: 155px; height: 155px; margin: 0 auto 20px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; }
.team-member__img img { width: 100%; height: auto; }

.team-member__info { padding-left: 10px; }
.team-member__info .link-title { margin-bottom: 10px; }
.team-member__info p { font-size: 15px; }

.map { position: relative; height: 275px; }

.map-popup { position: absolute; top: 50px; left: 50%; margin-left: -202px; width: 355px; padding: 20px 25px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; background: #ff2141; -webkit-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); -moz-box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); box-shadow: 2px 4px 3px rgba(0, 0, 1, 0.3); font-family: "HouschkaProDemiBold", arial, sans-serif; color: white; font-size: 15px; line-height: 1.2; }
.map-popup:before { content: ""; position: absolute; top: 100%; left: 37px; width: 0px; height: 0px; border-style: solid; border-width: 13px 13px 0 13px; border-color: #f12643 transparent transparent transparent; }
.map-popup a { color: white; }

.map-popup__title { font-family: "HouschkaProBold", arial, sans-serif; font-size: 18px; margin-bottom: 5px; }

.contacts { padding: 55px 0 32px; background: #5f2e41; }

.contacts__inner { padding: 0 80px; }
.contacts__inner .input { background: #ff2241; }
.contacts__inner .textarea { height: 76px; max-height: 200px; background: #ff2241; }
.contacts__inner .request__btn span { display: inline-block; margin-right: 25px; color: white; font-size: 15px; font-family: "HouschkaProDemiBold", arial, sans-serif; }
.contacts__inner .request__btn span strong { font-family: "HouschkaProBold", arial, sans-serif; }
.contacts__inner .btn { background: #542939; border: 2px solid #f52241; line-height: 32px; }

.socials { padding: 100px 0 80px; }

.socials__plagin { position: relative; padding: 55px 36px; background: whitesmoke; }
.socials__plagin ul { *zoom: 1; }
.socials__plagin ul:after { content: " "; display: table; clear: both; }
.socials__plagin li { float: left; width: 295px; margin-left: 33px; }
.socials__plagin li:first-child { margin-left: 0; }

.share { position: relative; padding: 55px 0 0; }

.share-list { *zoom: 1; padding: 0 65px; margin-bottom: 60px; }
.share-list:after { content: " "; display: table; clear: both; }
.share-list li { float: left; padding: 10px; margin-left: 13px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; background: #e9e9e9; }
.share-list li:first-child { margin-left: 0; }
.share-list li a { position: relative; display: block; height: 40px; line-height: 40px; padding: 0 16px 0 50px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; background: #542939; font-size: 18px; text-decoration: none; color: #e4e0e1; font-family: "HouschkaProDemiBold", arial, sans-serif; }
.share-list li a:before { content: ""; position: absolute; top: 10px; left: 20px; }

.vk:before { background: url('../img/icons-s7b13fbad85.png') 0 -423px no-repeat; width: 15px; height: 20px; }

.od:before { background: url('../img/icons-s7b13fbad85.png') 0 -208px no-repeat; width: 17px; height: 28px; top: 6px !important; }

.fb:before { background: url('../img/icons-s7b13fbad85.png') 0 -507px no-repeat; width: 14px; height: 24px; top: 6px !important; }

.tw:before { background: url('../img/icons-s7b13fbad85.png') 0 -278px no-repeat; width: 25px; height: 21px; left: 16px !important; }

.gp:before { background: url('../img/icons-s7b13fbad85.png') 0 -246px no-repeat; width: 23px; height: 22px; }

.share__text { padding: 0 65px; text-align: center; font-family: "HouschkaProMedium", arial, sans-serif; font-size: 15px; line-height: 1.2; }

.footer { padding: 50px 0 70px; background: url(../img/pattern1.jpg); }

.footer__inner { *zoom: 1; }
.footer__inner:after { content: " "; display: table; clear: both; }

.footer__logo { float: left; margin-right: 30px; }
.footer__logo a { display: block; background: url('../img/icons-s7b13fbad85.png') 0 -125px no-repeat; width: 103px; height: 73px; }

.copyrights { float: left; font-size: 14px; color: white; line-height: 1.2; font-family: "HouschkaProMedium", arial, sans-serif; }
.copyrights a { display: block; color: white; text-decoration: underline; }
.copyrights a:hover { text-decoration: none; }

.footer__socials { float: right; }
.footer__socials ul { *zoom: 1; margin-bottom: 23px; }
.footer__socials ul:after { content: " "; display: table; clear: both; }
.footer__socials ul li { float: right; margin-left: 15px; }
.footer__socials ul li a { display: block; }

.footer__vk { background: url('../img/icons-s7b13fbad85.png') 0 -387px no-repeat; width: 26px; height: 26px; }

.footer__fb { background: url('../img/icons-s7b13fbad85.png') 0 -507px no-repeat; width: 14px; height: 24px; }

.footer__tw { background: url('../img/icons-s7b13fbad85.png') 0 -278px no-repeat; width: 25px; height: 21px; }

.design-studio { font-size: 14px; font-family: "HouschkaProDemiBold", arial, sans-serif; color: white; }
.design-studio a { color: #ff2241; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
